# ibl.ai Platform Configuration
# replace PLATFORM with your tenant key and TOKEN with your platform api key.
DOMAIN=iblai.app
PLATFORM=your-platform
TOKEN=your-platform-api-key

# Auth interface
AUTH_TITLE=your-platform-name
AUTH_LOGO=your-logo-url 
AUTH_DISPLAY_TITLE=generated-title
AUTH_DISPLAY_DESCRIPTION=generated-description
AUTH_FOOTER_CREDIT=Powered by {{logo}}
AUTH_PRIVACY_POLICY_URL=https://ibl.ai/privacy-policy
AUTH_TERMS_OF_USE_URL=https://ibl.ai/terms-of-use
AUTH_PASSWORD_ONLY=false
